---
layout: default
title: About | Mostly Node
cover: false
class: 'home-template'
navigation: True
logo: 'assets/images/mn-icon-300x300.png'
current: about
---
<header class="main-header {% if page.cover %}"
        style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">About the Hosts</h1>
            <h2 class="page-description">More than Sultry Voices</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>
<main>
  <container>
    <div class="row">
      <div class="col-md-8 col-md-offset-3">
        <div>
          <div class="hosts-name">
            <img src="/assets/images/casper.png">
            <h2 class="pull-right host-names-right">Josiah Mory</h2>
          </div>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et dictum leo, posuere elementum felis. Fusce quis nibh eget nunc euismod auctor. Integer elementum finibus tellus vitae ornare. Aenean placerat turpis vel diam malesuada, sed finibus arcu ultrices. Integer semper felis diam, et auctor ligula rutrum id. Sed pretium eros nec egestas pulvinar. Vivamus in elementum ligula, in tempor nunc. Vestibulum pharetra tempor viverra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec iaculis fringilla dictum. Donec pulvinar convallis dui, et gravida dolor malesuada iaculis. Fusce sollicitudin metus congue, cursus lectus in, eleifend risus.

            Proin eu ullamcorper magna. Donec id consectetur massa, sit amet tempus orci. Aenean tristique nibh eget enim dictum, ac lacinia urna tincidunt. Praesent leo magna, ullamcorper vitae rutrum a, egestas vitae eros. Pellentesque vitae risus eu dui volutpat venenatis ut a nulla. In risus ligula, mattis ut diam eget, iaculis euismod est. Sed vestibulum aliquam odio.

            Suspendisse vitae tincidunt sem. Mauris semper neque orci, eu ultricies nunc gravida ac. Proin arcu turpis, facilisis ut venenatis vel, pretium at orci. Nullam sagittis vestibulum magna, nec consequat elit consequat ac. Duis egestas orci et vestibulum ullamcorper. Etiam vel libero id eros finibus ullamcorper. In imperdiet pulvinar cursus. Suspendisse quis aliquet ligula, mattis auctor nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc libero orci, lacinia at sodales ac, tincidunt id lectus. Curabitur maximus vitae risus id luctus.
          </p>
        </div>
        <div>
          <div class="hosts-name-div">
            <img class="pull-right" src="/assets/images/casper.png">
            <h2 class="host-names-left">Jason Small</h2>
          </div>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et dictum leo, posuere elementum felis. Fusce quis nibh eget nunc euismod auctor. Integer elementum finibus tellus vitae ornare. Aenean placerat turpis vel diam malesuada, sed finibus arcu ultrices. Integer semper felis diam, et auctor ligula rutrum id. Sed pretium eros nec egestas pulvinar. Vivamus in elementum ligula, in tempor nunc. Vestibulum pharetra tempor viverra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec iaculis fringilla dictum. Donec pulvinar convallis dui, et gravida dolor malesuada iaculis. Fusce sollicitudin metus congue, cursus lectus in, eleifend risus.

            Proin eu ullamcorper magna. Donec id consectetur massa, sit amet tempus orci. Aenean tristique nibh eget enim dictum, ac lacinia urna tincidunt. Praesent leo magna, ullamcorper vitae rutrum a, egestas vitae eros. Pellentesque vitae risus eu dui volutpat venenatis ut a nulla. In risus ligula, mattis ut diam eget, iaculis euismod est. Sed vestibulum aliquam odio.

            Suspendisse vitae tincidunt sem. Mauris semper neque orci, eu ultricies nunc gravida ac. Proin arcu turpis, facilisis ut venenatis vel, pretium at orci. Nullam sagittis vestibulum magna, nec consequat elit consequat ac. Duis egestas orci et vestibulum ullamcorper. Etiam vel libero id eros finibus ullamcorper. In imperdiet pulvinar cursus. Suspendisse quis aliquet ligula, mattis auctor nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc libero orci, lacinia at sodales ac, tincidunt id lectus. Curabitur maximus vitae risus id luctus.
          </p>
        </div>
      </div>
    </div>  
  </container>
</main>
