---
layout: default
title: About | Mostly Node
cover: false
class: 'home-template'
navigation: True
logo: 'assets/images/mn-icon-300x300.png'
current: about
---
<header class="main-header {% if page.cover %}"
        style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">About the Hosts</h1>
            <h2 class="page-description">More than Sultry Voices</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>
<main>
  <container>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <div>
          <div class="hosts-name">
            <img class="host-image" src="/assets/images/josiah-square.jpg">
            <h2 class="pull-right host-names-right">Josiah Mory</h2>
          </div>
          <br />
          <p>
            After 10 years of touring and gigging in the music industry, Josiah left behind his bass guitar and moved fully into the world of software development.
          </p>
          <p>
            He quickly saw the similar distribution of logic and creativity as is found in music, which drew him further into coding.
          </p>
          <p>
            Currently, Josiah is working for BuildFire.com, a platform app developer, as a Developer Advocate. Josiah still works with Ruby some,, but is currently exploring Javascript's Es2015 features, Node and React.
          </p>
          <div>
            <p>Twitter: <a href="https://twitter.com/kickinbahk">@kickinbahk</a></p>
            <p><a href="http://kickinbahk.com">Website</a></p>
          </div>
        </div>
        <div>
          <div class="hosts-name-div">
            <img class="pull-right host-image" src="/assets/images/jason-square.jpeg">
            <h2 class="host-names-left">Jason Small</h2>
          </div>
          <br />
          <p>
            Jason is a software developer who has primarily worked with PHP for the past 10 years to develop different sites for the automotive industry.
          </p>
          <p>
            He recently has started some additional projects that includes the manipulation of multiple files, which gave him a reason to start working with Node and Javascript more.
          </p>
          <div>
            <p>Twitter: <a href="https://twitter.com/jason_small">@jason_small</a></p>
            <p><a href="http://jasonsmall.io/">Website</a></p>
          </div>
        </div>
        <br />
        <br />
        <div>
          <div class="hosts-name">
            <img class="host-image" src="/assets/images/sean-square.jpg">
            <h2 class="pull-right host-names-right">Sean Hornsby</h2>
          </div>
          <br />
          <p>
            Sean is a fullstack developer, currently working with a startup in the Orange County, CA area. He got his start going through FreeCode Camp, then through Orange County Coding Bootcamp.
          </p>
          <p>
            Sean works mostly with Node and is recently working through React.
          </p>
          <div>
            <p>Twitter: <a href="https://twitter.com/mushiwolf">@mushiwolf</a></p>
            <p><a https://github.com/sphornsby>GitHub</a></p>
          </div>
        </div>
      </div>
    </div>
  </container>
</main>
